/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  --animate-marquee: marquee 28s linear infinite;

  @keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}
